.navbar {
  position: relative;
  height: 125px;
}
.navbar-brand {
  position: absolute;
  left: 50%;
  margin-left: -50px !important;  /* 50% of your logo width */
  display: block;
}

.ml-10,
{
  margin-right: 8rem !important;
}
