<h2>Product creation:</h2>

<mat-dialog-content>
  <form>
    <div class="form-group">
      <label for="productName">Product Name: </label>
      <input #productName class="form-control" type="text" id="productName" placeholder="Karkówka">
    </div>
    <div class="form-group">
      <label for="productType">Product Type: </label>
      <select #productType class="form-control" id="productType">
        <option>pieczywo</option>
        <option>mieso</option>
        <option>nabial</option>
        <option>owoce</option>
      </select>
    </div>
    <div class="form-group">
      <label for="productPrice">Product Price (without currency): </label>
      <input #productPrice class="form-control" id="productPrice" placeholder="2">
    </div>
    <div class="form-group">
      <label for="productMeasureType">Product Type: </label>
      <select #productMeasureType class="form-control" id="productMeasureType">
        <option>kg</option>
        <option>szt</option>
      </select>
    </div>
    <div class="form-group">
      <label for="productDescription">Product Description: </label>
      <textarea #productDescription class="form-control" id="productDescription" rows="3" placeholder="Product Description"></textarea>
    </div>
  </form>
  <button type="button" class="btn-sm btn btn-info rounded"
          *ngIf="productName.value && productType.value && productPrice.value && productMeasureType.value && productDescription.value"
          (click)="addNewProduct(productName.value, productType.value, productPrice.value, productMeasureType.value, productDescription.value)">
    Create
  </button>
</mat-dialog-content>

<button type="button" class="btn btn-info rounded mr-2 float-right" mat-dialog-close>Close</button>
