<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>chamberlain</title>
</head>
<body>
<app-header></app-header>
<div class="container">
  <div class="m-10"></div>
  <div class="row">
    <a href="#" (click)="onSelect('recipe')"></a>
    <img class="rounded float-left" src="assets/img/header/shopping-basket.png">
    <img class="rounded mx-auto d-block" src="assets/img/header/trolley.png">
    <img class="rounded float-right" src="assets/img/header/shop.png">
  </div>
</div>
</body>
</html>

