<!--<div class="container">-->
<!--  <div class="m-6"></div>-->
<!--  <div class="row">-->
<!--    <div class="col-md-12">-->
<!--      <ul class="list-group scrollable">-->
<!--        <li class="list-group-item non-select"-->
<!--            *ngFor="let order of orders">-->
<!--          {{ order.deliveryPlace }} / {{ order.deliveryTime }}c-->
<!--          <button (click)="showDeliveryDialog(product)" type="button" class="btn-sm btn btn-info rounded float-right">Info</button>-->
<!--        </li>-->
<!--      </ul>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
